@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/BebasNeue-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  /*background-image: url("../img/jungle-1807476_1920.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "BebasNeue";
  /* assure la compatibilité avec safari 
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);*/
}

/*==================================================*/
/*=================== CARD =========================*/
/*==================================================*/
.card-title {
  color: #083F18;
  font-size: 50px;
}

.fw-bold {
  font-size: 25px;
}

.card-text {
  font-size: 18px;
}

.blockquote {
  font-size: 15px;
}

/*==================================================*/
/*=================== NAV TABS =====================*/
/*==================================================*/

span {
  padding-right: 10px;
}

.custom {
  color: #083F18;
  background-color: aquamarine;
}

.custom:hover {
  color: #083218;
  box-shadow: 0 0 10px #083F18;
}


/*==================================================*/
/*=================== MEDIA QUERIES ================*/
/*==================================================*/

@media (1px <= width <= 576px) {
  .card-title {
    text-align: center;
  }
  .fw-bold {
    text-align: center;
  }
  .blockquote {
    text-align: center;
  }
  .blockquote-footer {
    text-align: center;
  }
}

@media (576 <= width <= 769px) {
  .card-title {
    text-align: center;
  }
  .fw-bold {
    text-align: center;
  }
  .blockquote {
    text-align: center;
  }
  .blockquote-footer {
    text-align: center;
  }
}