@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/BebasNeue-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-image: url("../img/jungle-1807476_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "BebasNeue";
}

.borderCustom {
  border: 2px solid black;
}

p {
  margin: 0;
}

.container-fluid {
  backdrop-filter: blur(30px);
}

/*==================================================*/
/*=================== CARD =========================*/
/*==================================================*/
.card-title {
  color: #083F18;
  font-size: 50px;
}

.fw-bold {
  font-size: 25px;
}

.card-text {
  font-size: 18px;
}

.blockquote {
  font-size: 15px;
}

/*==================================================*/
/*=================== INFOS ========================*/
/*==================================================*/

a {
  color: #083F18;
}

a:hover {
  color: antiquewhite;
}

#informations {
  color: #083F18;
}

/*==================================================*/
/*=================== NAV TABS =====================*/
/*==================================================*/

span {
  padding-right: 10px;
}

.nav-pills>li>button.custom {
  border: none;
  color: #083F18;
}

.nav-pills>li>button.custom:hover {
  background-color: #083F18;
  border: none;
  color: antiquewhite;
}

.nav-pills>li>button.custom.active {
  background-color: #083F18;
  border: none;
  color: antiquewhite;
}

/*==================================================*/
/*=================== CONTENUR DES DIV ================*/
/*==================================================*/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*==================================================*/
/*=================== DIPLOMES ================*/
/*==================================================*/



/*==================================================*/
/*=================== MEDIA QUERIES ================*/
/*==================================================*/

@media (1px <=width <=576px) {
  .card-title {
    text-align: center;
  }

  .fw-bold {
    text-align: center;
  }

  .blockquote {
    text-align: center;
  }

  .blockquote-footer {
    text-align: center;
  }
}

@media (576 <=width <=769px) {
  .card-title {
    text-align: center;
  }

  .fw-bold {
    text-align: center;
  }

  .blockquote {
    text-align: center;
  }

  .blockquote-footer {
    text-align: center;
  }
}