@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/BebasNeue-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.header {
  /*background-image: url("../img/green-slate.jpg");
  background-size: cover;*/
  border-bottom: 2px solid black;
  font-family: "BebasNeue";
}

footer {
  /*background-image: url("../img/green-slate.jpg");
  background-size: cover;*/
  border-top: 2px solid black;
  font-family: "BebasNeue";
}

