* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #85253c;
    transition: all 0.5 ease;
}

header {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-first h1 {
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.content-first h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

section {
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-second {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.bg-color {
    background-color: #fff;
}