@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/BebasNeue-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "BebasNeue";
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
}

span {
  color: #083F18;
}

#firstSlide {
  align-items: center;
  display: flex;
  font-size: 80px;
  text-align: center;
  width: 35vw;
}

#backgroundHome {
  background-image: url("../img/pexels-matthias-cooper-1113145.jpg");
  background-size: cover;
  border-right: 2px solid black;
  border-left: 2px solid black;
  height: 100vh;
  transform: skew(-20deg);
  width: 30vw;
}

#secondSlide {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  justify-content: center;
  text-align: center;
  width: 35vw;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  outline: none;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.buttonStyle {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-size: 35px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #083F18;
  box-shadow: 7px 7px #082218;
}

.buttonStyle:hover {
  box-shadow: 0 3px #083F18;
  top: 1px;
}

.buttonStyle:active {
  box-shadow: 0 0 #083F18;
  top: 5px;
}

/*==================================================*/
/*=================== MEDIA QUERIES ================*/
/*==================================================*/

@media (1px <=width <=425px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  #firstSlide {
    align-items: center;
    display: flex;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    height: 30vh;
    width: 100vw;
  }

  #backgroundHome {
    background-image: url("../img/pexels-matthias-cooper-1113145.jpg");
    background-size: cover;
    border-right: 2px solid black;
    border-left: 2px solid black;
    transform: none;
    height: 40vh;
    width: 100vw;
  }

  #secondSlide {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: space-evenly;
    text-align: center;
    height: 30vh;
    width: 100vw;
  }

  .buttonStyle {
    width: 130px;
    height: 35px;
    color: #fff;
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #083F18;
    box-shadow: 5px 5px #082218;
  }

  .buttonStyle:hover {
    box-shadow: 0 3px #083F18;
    top: 1px;
  }

  .buttonStyle:active {
    box-shadow: 0 0 #083F18;
    top: 5px;
  }
}

@media (768px <=width <=1024px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  #firstSlide {
    align-items: center;
    display: flex;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    height: 30vh;
    width: 100vw;
  }

  #backgroundHome {
    background-image: url("../img/pexels-matthias-cooper-1113145.jpg");
    background-size: cover;
    border-right: 2px solid black;
    border-left: 2px solid black;
    transform: none;
    height: 40vh;
    width: 100vw;
  }

  #secondSlide {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: space-evenly;
    text-align: center;
    height: 30vh;
    width: 100vw;
  }

  .buttonStyle {
    width: 130px;
    height: 35px;
    color: #fff;
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #083F18;
    box-shadow: 5px 5px #082218;
  }

  .buttonStyle:hover {
    box-shadow: 0 3px #083F18;
    top: 1px;
  }

  .buttonStyle:active {
    box-shadow: 0 0 #083F18;
    top: 5px;
  }
}

@media (1px <=width <=425px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  #firstSlide {
    align-items: center;
    display: flex;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    height: 30vh;
    width: 100vw;
  }

  #backgroundHome {
    background-image: url("../img/pexels-matthias-cooper-1113145.jpg");
    background-size: cover;
    border-right: 2px solid black;
    border-left: 2px solid black;
    transform: none;
    height: 40vh;
    width: 100vw;
  }

  #secondSlide {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: space-evenly;
    text-align: center;
    height: 30vh;
    width: 100vw;
  }

  .buttonStyle {
    width: 130px;
    height: 35px;
    color: #fff;
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #083F18;
    box-shadow: 5px 5px #082218;
  }

  .buttonStyle:hover {
    box-shadow: 0 3px #083F18;
    top: 1px;
  }

  .buttonStyle:active {
    box-shadow: 0 0 #083F18;
    top: 5px;
  }
}

/*==================================================*/
/*=================== ANIMATIONS ===================*/
/*==================================================*/


.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-19 21:6:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-blurred-tl {
  -webkit-animation: slide-in-blurred-tl 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-tl 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation-delay: 0.5s;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-19 21:32:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-tl
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-tl {
  0% {
    -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
    transform: translate(-1000px, -1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-tl {
  0% {
    -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
    transform: translate(-1000px, -1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slide-in-blurred-tr {
  -webkit-animation: slide-in-blurred-tr 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-tr 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation-delay: 1s;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-19 21:42:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-tr
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-tr {
  0% {
    -webkit-transform: translate(1000px, -1000px) skew(-80deg, -10deg);
    transform: translate(1000px, -1000px) skew(-80deg, -10deg);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-tr {
  0% {
    -webkit-transform: translate(1000px, -1000px) skew(-80deg, -10deg);
    transform: translate(1000px, -1000px) skew(-80deg, -10deg);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.scale-in-hor-center {
  -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 1.7s;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-19 23:54:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-hor-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}