@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/BebasNeue-Regular.ttf);
}

body {
  color: black;
  display: flex;
  font-family: "BebasNeue";
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

#backgroundHome {
  background-image: url("../img/pexels-matthias-cooper-1113145.jpg");
  background-size: cover;
  height: 100vh;
  width: 50vw;
}

#informationResume {
  text-align: center;
  height: 100vh;
  width: 50vw;
}

h1 {
  font-size: 100px;
  margin: 20px 0px;
  /*vertical - horizontal*/
  text-align: center;
  text-transform: uppercase;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  outline: none;
  text-decoration: underline;
}

button {
  background-color: #616f39;
  border: 2px solid black;
  border-radius: 15px;
  height: 10vh;
  margin: 5px;
  width: 30vw;
}

a {
  font-family: "BebasNeue";
  font-size: 20px;
  text-decoration: none;
}

a:visited {
  color: black;
}

/*Entre 1 pixel et 425 pixels ce sera les paramètres suivants*/
@media (1px <=width <=425px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  #backgroundHome {
    height: 30vh;
    width: 100vw;
  }

  #informationResume {
    text-align: center;
    width: 100vw;
  }

  h1 {
    font-size: 80px;
    margin: 20px 0px;
    /*vertical - horizontal*/
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    margin: 30px 0px;
  }

  li {
    font-size: 20px;
    padding: 8px;
  }

  button {
    background-color: #616f39;
    border: 2px solid black;
    border-radius: 15px;
    height: 10vh;
    margin: 5px;
    width: 30vw;
  }
}

/*Entre 425 pixels et 768 pixels ce sera les paramètres suivants*/
@media (425px <=width <=768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  #backgroundHome {
    height: 30vh;
    width: 100vw;
  }

  #informationResume {
    text-align: center;
    width: 100vw;
  }

  h1 {
    font-size: 80px;
    margin: 20px 0px;
    /*vertical - horizontal*/
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    margin: 30px 0px;
  }

  li {
    font-size: 20px;
    padding: 8px;
  }

  button {
    background-color: #616f39;
    border: 2px solid black;
    border-radius: 15px;
    height: 10vh;
    margin: 5px;
    width: 30vw;
  }
}

/*Entre 768 pixels et 1024 pixels ce sera les paramètres suivants*/
@media (768px <=width <=1024px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  #backgroundHome {
    height: 100vh;
    width: 50vw;
  }

  #informationResume {
    text-align: center;
    width: 50vw;
  }

  h1 {
    font-size: 80px;
    margin: 20px 0px;
    /*vertical - horizontal*/
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    margin: 30px 0px;
  }

  li {
    font-size: 20px;
    padding: 8px;
  }

  button {
    background-color: #616f39;
    border: 2px solid black;
    border-radius: 15px;
    height: 10vh;
    margin: 5px;
    width: 30vw;
  }
}