@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: "BebasNeue";
}

#profile {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    width: 100vw;
}
